<div class="ui centered padded grid">
  <h1>Welcome to your Contact Importer App</h1>
</div>

<div class="ui centered padded grid">
  <h3>Esta es tu pagina principal</h3>
</div>
<div class="ui centered padded grid">
  <h4>Por favor selecciona alguna de las opciones de arriba para continuar</h4>
</div>