<div class="ui inverted segment">
  <div class="ui inverted secondary menu centered grid">
    <a class="item">
      Home
    </a>
    <a class="item">
      Mis Contactos
    </a>
    <a class="item">
      Mis Archivos
    </a>
    <a class="item">
      Log in
    </a>
    <a class="item">
      Log out
    </a>
  </div>
</div>